{% extends 'base.html' %}

{% block content %}
<style>
    .helptext{
        color: "#F05252";
        opacity: 0.4;
    }

    label{
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 5px;
    }
</style>
<div class="container">
    <div class="card">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Register User</h4>
                    <p class="card-description"> Enter User Registration Form </p>
                    <form method="post" enctype="multipart/form-data" class="forms-sample">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}