{% extends 'homebase.html' %}

{% block content %}
<!-- specials section -->
{% load static %}
<section class="w3l-portfolio-8 py-5">
    <div class="portfolio-main py-md-5 py-4">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8">
                    <div class="section-heading mb-sm-5 mb-4">
                        <h3 class="title-style mb-2">Our Menu</h3>
                        <p class="lead">
                            “One cannot think well, love well, sleep well, if one has not dined well.” — Virginia Woolf
                        </p>
                    </div>
                </div>
            </div>
            <div class="row galler-top" >

               
                    <img src="{% static 'assets/menu/men1.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/menu2.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/men3.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/men4.PNG' %}" alt="" width="400" height="700" >

                    <img src="{% static 'assets/menu/men6.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/men7.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/men8.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/men9.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/men10.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/men11.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/men12.PNG' %}" alt="" width="400" height="700" >
                    <img src="{% static 'assets/menu/men13.PNG' %}" alt="" width="400" height="700" >
                    
                    
                
                <!-- {% for item in menu %}
                <div class="col-md-2 col-sm-4 protfolio-item hover14 mt-4">
                    <a href="#" data-lightbox="example-set" data-title="Magazine Content Writing">
                        <figure>
                            {% if item.image_url %}
                                <img src="{{ item.image_url.url }}" alt="product" class="img-fluid" style="height: 250px; object-fit: cover; width: 100%;">
                            {% else %}
                                <p>No image available</p>
                            {% endif %}

                            <div class="p-4">
                                <p>Orchards</p>
                                <p class="fw-bold" style="white-space: normal; word-wrap: break-word; color: #000;">{{ item.name }}</p>
                                <h5 class="text-primary">{{ item.price }}</h5>
                                <h6 class="text-muted">{{ item.category.name }}</h6>
                            </div>
                        </figure>
                    </a>
                </div>
                {% endfor %} -->
            </div>
            <div class="text-center">
                <a href="/" class="btn btn-style-white btn-style-primary mt-lg-5 mt-2">Back to Home</a>
            </div>
        </div>
    </div>
</section>
<!-- //specials section -->
{% endblock content %}
