{% extends 'base.html' %}

{% block content %}
<h5 class="card-title fw-semibold mb-4">Sauna services</h5>

<!-- Center the card and make it more spacious -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8"> <!-- Adjust column width for responsiveness -->
      <div class="card shadow-lg"> <!-- Add shadow for better UI -->
        <div class="card-body">
          <form method="post" class="row g-3">
            {% csrf_token %}
            {{form.as_p}}
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}