<!-- about section -->
{% load static %}
<section class="w3l-about-2 py-5">
    <div class="container py-md-5 py-4">
        <div class="row justify-content-between align-items-center pb-lg-5">
            <div class="col-lg-6 about-2-secs-right mb-lg-0 mb-5">
                <div class="image-box inverse position-relative">
                    <div class="image-box__static">
                        <img src="{% static 'assets/images/about02.jpg' %}" alt="" width="364" height="359">
                    </div>
                    <div class="image-box__float">
                        <img src="{% static 'assets/images/about01.jpg' %}" alt="" width="364" height="359">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-2-secs-left pl-lg-5 mt-lg-0 mt-5">
                <h3 class="title-style mb-3">A Charming and Comfortable Retreat in <br>Kabale</h3>
                <p class="mt-4">A charming and comfortable retreat in Kabale, Uganda, nestled amidst
                    lush greenery and rolling hills, offering modern amenities and warm hospitality
                    for a memorable stay.</p>
                <div class="address-sec d-flex align-items-center mt-5">
                    <i class="fa fa-map-marker mr-4" aria-hidden="true"></i>
                    <h6>Kabale Uganda, <br>5th Avenue, 235 Terry, <br>Kabale.</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->