{% load static %}

<!-- grids section -->
<style>
    .custom-title {
        font-size: 1.5rem;
        color: #28a745;
        font-weight: bold;
    }
</style>

<section class="w3l-homeblock7 py-5">
    <div class="container py-lg-5 py-md-3">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="pr-5">
                    <h3 class="custom-title">Gourmet Restaurant & Bar</h3>
                    <p class="mt-4">
                        Delight in a diverse menu of locally-inspired and international cuisine at our gourmet
                        restaurant. Relax at our bar, where you can enjoy handcrafted cocktails, fine wines, and a
                        welcoming atmosphere.
                    </p>
                </div>
                <div class="pr-5 mt-lg-5 mt-4 sec-bor">
                    <h3 class="custom-title pt-lg-5 pt-4">Rejuvenating Wellness Center</h3>
                    <p class="mt-4">
                        Unwind in our wellness center featuring a soothing sauna, steam room, and massage therapy
                        services designed to help you relax, refresh, and rejuvenate.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-8 image-styling-sec mt-lg-0 mt-5">
                <div class="section-heading text-center mb-sm-5 mb-4">
                    <h5 class="title-style">Our Services</h5>
                </div>
                <img src="{% static 'assets/images/sauna.jpg' %}" alt="Hotel Services" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-5 text-lg-right">
                <div class="pl-lg-5">
                    <h3 class="custom-title">Elegant Accommodation</h3>
                    <p class="mt-4">
                        Relax in style in our luxurious rooms and suites, thoughtfully designed to provide comfort and
                        elegance, complete with modern amenities and stunning views.
                    </p>
                </div>
                <div class="pl-lg-5 mt-lg-5 mt-4 sec-bor">
                    <h3 class="custom-title pt-lg-5 pt-4">Conference & Meeting Facilities</h3>
                    <p class="mt-4">
                        Host successful events in our state-of-the-art conference rooms, equipped to accommodate
                        meetings, seminars, and special events with professional support and customized arrangements.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //grids section -->